<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# should contain link tags and metadata relevant to your project #}
    {%- block stylesheets -%}
    {# could contain other stylesheet link tags relevant to your project #}
        {{ encore_entry_link_tags('tailwind') }}
    {%- endblock -%}
 </head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
